{% extends "layouts/wrapper.html" %}
{% load crispy_forms_filters %}

{% block inner_content %}
    <h1 class="d-flex justify-content-between align-center">
      <span>
        Dish Types List
      </span>

      <a
        href="{% url 'kitchen:dish-type-create' %}"
        class="btn btn-primary link-to-page h-50 mb-0"
      >
        Create
      </a>
    </h1>

    {% include 'includes/search_form.html' %}

    {% if dish_types_list %}
      <div class="table-responsive-md">
        <table class="w-100">
          <tr>
            <th class="p-1">ID</th>
            <th class="p-1">Name</th>
            <th class="p-1">Update</th>
            <th class="p-1">Delete</th>
          </tr>

          {% for dish_type in dish_types_list %}
            <tr>
              <td class="p-1">
                  {{ dish_type.id }}
              </td>

              <td class="p-1 w-lg-60">
                  {{ dish_type.name }}
              </td>

              <td class="p-1">
                  <a
                      href="{% url 'kitchen:dish-type-update' pk=dish_type.id%}"
                      class="btn btn-secondary"
                  >
                    Update
                  </a>
              </td>
              
              <td class="p-1">
                <a
                  class="btn btn-danger"
                  href="{% url 'kitchen:dish-type-delete' pk=dish_type.id%}"
                >
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>

    {% else %}
        <p class="text-center">There are no dish types in the service.</p>
    {% endif %}
{% endblock %}
